# Excluir pastas e arquivos de compilação
bin/
obj/
*.dll
*.exe
*.pdb
*.cache
*.msi
*.app
*.log
*.vspscc
*.vssscc

# Excluir arquivos de publicação
publish/
out/
*.publishsettings

# Excluir arquivos de configuração de usuário
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# Excluir pastas e arquivos do Visual Studio
.vscode/
.vs/
.idea/

# Excluir configurações locais e logs de compilação
*.log
*.nupkg
*.snupkg
.nuget/
package/
packages/

# Excluir arquivos gerados por teste
TestResults/
*.TestResults/
*.tests/ 

# Excluir arquivos de configurações de senhas e chaves
appsettings.Development.json
secrets.json

# Excluir arquivos temporários
*.tmp
*.temp
